@use "govuk-frontend/dist/govuk" as *;

.app-blockquote {
  margin: 0 0 govuk-spacing(4);
  padding: 0 0 0 govuk-spacing(6);

  p {
    position: relative;

    &::before {
      content: "\201C";
      position: absolute;
      right: 100%;
    }

    &:last-of-type::after {
      content: "\201D";
    }
  }
}
